/.fleet
/.idea
/.nova
/.vscode
/.zed
/content
/node_modules
/public/build
/public/media
/public/vite
/site/config/.license
/storage/accounts
/storage/cache
/storage/logs
/storage/sessions
/storage/*.pem
/vendor
.lock
.env
.env.backup
.env.production
auth.json
npm-debug.log
